header.header.py-3
  .container
    .header__ribbon
      .header__social
        a(href="#")
          img(src="./images/instagram-header.svg", alt="instagram")
        a(href="#")
          img(src="./images/twitter-header.svg", alt="twitter")
        a(href="#")
          img(src="./images/facebook-header.svg", alt="facebook")
      a.btn.cigesi-btn Iniciar sesión

    //- Navbar
    nav.navbar.navbar-expand-md.navbar-light.header__navbar
      a.navbar-brand(href='#')
        img(src="./images/logo-header.svg", alt="Logo CIGESI", class="img-fluid")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavbar', aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #mainNavbar.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Inicio
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='quienes_somos.html') ¿Quiénes Somos?
          li.nav-item
            a.nav-link(href='nuestro_equipo.html') Nuestro Equipo          
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', id="navbarDropdownLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Servicios 
            .dropdown-menu(aria-labelledby="navbarDropdownLink")
              a.dropdown-item(href="formacion_gesi.html") Formación GESI
              a.dropdown-item(href="#") Formación OEI
              a.dropdown-item(href="#") Formación Terapeutas
              hr
              a.dropdown-item(href="#") Cursos
              a.dropdown-item(href="#") Talleres
              a.dropdown-item(href="#") Conferencias
              hr
              a.dropdown-item(href="#") Libros
          li.nav-item
            a.nav-link(href='contacto.html') Contáctenos
