extends ./partials/layout.pug

block content
  section.fgesi.py-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | PROGRAMA DE FORMACIÓN TERAPEUTA MULTIDIMENSIONAL TRANSPERSONAL      
      .fgesi__coaching
        h4 Acreditación
        h3 Terapeuta multidimensional transpersonal.

      p.fgesi__description
        | Aprende en esta formación las técnicas terapéuticas multidimensional y transpersonales  para sanar procesos de vida de manera holística en las personas desde lo físico, emocional, mental,  espiritual incluyendo los cuerpos multidimensionales del ser, se busca concebir un profesional con las más destacadas competencias terapéuticas para brindar bienestar a la humanidad.

  section.ejes.py-5
    .container
      h2.ejes__title EJES DE FORMACIÓN
      hr      
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi1.jpg", alt="Formación Gesi1", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name LAS ESFERAS INTELIGENTES DEL SER
            ul.ejes__description              
              li Sistema biológico.
              li Sistema psico.
              li Sistema multidimensional.
                
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi2.jpg", alt="Formación Gesi2", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name EL TERAPEUTA TRANSPERSONAL
            ul.ejes__description
              .row
                .col-md-6
                  li El terapeuta.
                  li Protocolo del terapeuta multidimensional transpersonal.
                  li El terapeuta transpersonal.
                  li Acoplamiento del coach, terapeuta y sanador.
                .col-md-6
                  li Tipos de terapias Multidimensionales.                  
                  li Terapias modernas.
                  li Sistemas de sanación.
                  li Inteligencia transpersonal                                 
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi3.jpg", alt="Formación Gesi3", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name EL GERENTE ESPIRITUALMENTE INTELIGENTE (GESI)
            ul.ejes__description
              .row
                .col-md-4
                  li Respiración.
                  li Música.
                  li Contemplación.
                  li Relajación.
                  li Meditación.                
                .col-md-4
                  li Numerología.
                  li Cristaloterapia.
                  li Reiki.                   
                  li Masajes.
                  li Fen shui.
                .col-md-4
                  li Mandalas.
                  li Sanación cuántica.
                  li Sanación transgeneracional.
                  li ADN multidimensional.
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi4.jpg", alt="Formación Gesi4", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name ORGANIZACIONES ESPIRITUALMENTE INTELIGENTES (OEI)
            ul.ejes__description
              li Prácticas herramientas terapéuticas.
              li Aplicaciones herramientas terapéutica.
      