extends ./partials/layout.pug

block content
  section.fgesi.py-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | PROGRAMA DE FORMACIÓN GESI
      h4.fgesi__subtitle
        | GERENTES ESPIRITUALMENTE INTELIGENTES
      .fgesi__coaching
        h4 Acreditación
        h3 GESI mención Coach en gerencia transpersonal

      p.fgesi__description
        | Es una propuesta  de formación individual, en un contexto reflexivo y de participación activa para adquirir competencias, habilidades y destrezas sobre las técnicas transpersonales: respiración, música, contemplación, relajación, meditación y el silencio, como herramienta reintegrativa centradas en la programación neurolingüística (PNL) e inteligencia emocional (IE); en su eje espiritual transversalizada con el coaching transpersonal. Además de  la gerencia holística, cósmica, sistémica, multidimensional y transcendental  para ser orientado al talentum humano de Venezuela y el mundo.

  section.ejes.py-5
    .container
      h2.ejes__title EJES DE FORMACIÓN GESI
      hr      
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi1.jpg", alt="Formación Gesi1", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name TALENTUM HUMANO TRANSFORMACIONAL
            ul.ejes__description
              .row
                .col-md-6
                  li Competencias humanas, laborales y superiores.
                  li Anclajes
                  li Mapa de representación.
                  li PNL.
                  li History chanel, repport y modeling.
                  li PNL Transpersonal.
                .col-md-6
                  li Inteligencia emocional: tipos, estimuladores, agudeza sensorial.
                  li Observar-escuchar.
                  li Sentir
                  li La inteligencia superior o espiritual.
                  li Coaching
                
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi2.jpg", alt="Formación Gesi2", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name COSMOVISIÓN ORGANIZACIONAL
            ul.ejes__description
              .row
                .col-md-6
                  li Conceptualización TRANS.
                  li Organizaciones transcomplejas.
                  li Gerencia en la transmodernidad: holística,  cósmica,  sistémica, multidimensional, transcendental y la del caos.
                  li Talentum humano nuevas dimensiones.
                .col-md-6
                  li Neurogerencia.                  
                  li Neurocodex.
                  li PNL transformacional.
                  li Inteligencia emocional dimensional.
                  li Técnicas transpersonales.                  
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi3.jpg", alt="Formación Gesi3", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name EL GERENTE ESPIRITUALMENTE INTELIGENTE (GESI)
            ul.ejes__description
              .row
                .col-md-6
                  li Grandes iniciados.
                  li Leyes universales.
                  li Valores espirituales.
                  li Maestros ascendidos y sus enseñanzas.
                  li Principio de la inteligencia espiritual.                
                .col-md-6
                  li Cuerpos multidimensionales energéticos del ser.
                  li Herramientas transformadoras transpersonales basadas en inteligencia espiritual (IE): Fen shui, reiki, numerología, mandalas, astrología, cristaloterapia y árbol de la vida.
                  li El GESI.                   
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi4.jpg", alt="Formación Gesi4", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name ORGANIZACIONES ESPIRITUALMENTE INTELIGENTES (OEI)
            ul.ejes__description
              li La estructura de una organización espiritualmente inteligente (OEI) se fundamenta en aspectos como: decoración, estilo, ambientación, sonido, color , valores y principios de una OEI.
              li Constelaciones empresariales, engranaje de las técnicas transpersonales e inteligencias espirituales en el entorno organizacional.       
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi5.jpg", alt="Formación Gesi5", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name TRANSFORMANDO SISTEMAS
            ul.ejes__description
              .row
                .col-md-6
                  li T SIRVE.
                  li Pre plan de vida.
                  li Holograma universal.
                  li Las Mentes multidimensionales.
                  li Los tipos y niveles de conciencias.                
                  li El programa exagerado organizado (EL PEO).
                .col-md-6
                  li Las dimensiones del ser: dimensiones superiores y dimensiones inferiores.
                  li Inteligencia emocional espiritual.
                  li Conexión con la inteligencia espiritual y técnicas transpersonales multidimensionales.
                  li Inteligencia espiritual para el éxito.      

      