extends ./partials/layout.pug

block content
  section.fgesi.py-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | PROGRAMA DE FORMACIÓN GESI
      h4.fgesi__subtitle
        | GERENTES ESPIRITUALMENTE INTELIGENTES
      .fgesi__coaching
        h4 Acreditación
        h3 COACHING EN GERENCIA TRANSPERSONAL

      p.fgesi__description
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquam odio sunt eligendi soluta amet ipsum illo delectus nihil nostrum modi voluptatibus nemo quas provident nobis omnis magni eos consectetur exercitationem hic, praesentium at neque? Exercitationem praesentium eaque dolore est, saepe magnam nesciunt nostrum quibusdam natus distinctio totam sunt accusamus illo, omnis culpa. Error dignissimos fugiat corrupti molestias hic libero itaque vitae consequuntur expedita molestiae sapiente, cum repellendus magnam tenetur repellat iste ea eos, assumenda ad debitis voluptatum accusantium ipsum. Et, alias? Praesentium perferendis soluta laboriosam animi officiis modi suscipit, unde, totam blanditiis esse recusandae! Sit commodi blanditiis assumenda libero.

  section.ejes.py-5
    .container
      h2.ejes__title EJES DE FORMACIÓN GESI
      hr      
      article.ejes__item
        .row
          .col-md-6.col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi1.jpg", alt="Formación Gesi1", class="img-fluid")
          .col-md-6.col-lg-8.col-xl-9.ejes__content
            h4.ejes__name TALENTO HUMANO TRANSFORMACIONAL
            P.ejes__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, necessitatibus voluptate laudantium similique fugiat id non doloribus itaque fugit officiis esse culpa provident dignissimos ipsum numquam magnam voluptatem deleniti corporis eius blanditiis commodi deserunt eaque amet. Nostrum sed ipsam, possimus hic pariatur dolor adipisci voluptates nemo exercitationem, saepe optio quasi?
      article.ejes__item
        .row
          .col-md-6.col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi2.jpg", alt="Formación Gesi2", class="img-fluid")
          .col-md-6.col-lg-8.col-xl-9.ejes__content
            h4.ejes__name COSMOVISIÓN EMPRESARIAL
            P.ejes__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, necessitatibus voluptate laudantium similique fugiat id non doloribus itaque fugit officiis esse culpa provident dignissimos ipsum numquam magnam voluptatem deleniti corporis eius blanditiis commodi deserunt eaque amet. Nostrum sed ipsam, possimus hic pariatur dolor adipisci voluptates nemo exercitationem, saepe optio quasi?
      article.ejes__item
        .row
          .col-md-6.col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi3.jpg", alt="Formación Gesi3", class="img-fluid")
          .col-md-6.col-lg-8.col-xl-9.ejes__content
            h4.ejes__name EL GERENTE ESPIRITUALMENTE INTELIGENTE (GESI)
            P.ejes__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, necessitatibus voluptate laudantium similique fugiat id non doloribus itaque fugit officiis esse culpa provident dignissimos ipsum numquam magnam voluptatem deleniti corporis eius blanditiis commodi deserunt eaque amet. Nostrum sed ipsam, possimus hic pariatur dolor adipisci voluptates nemo exercitationem, saepe optio quasi?
      article.ejes__item
        .row
          .col-md-6.col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi4.jpg", alt="Formación Gesi4", class="img-fluid")
          .col-md-6.col-lg-8.col-xl-9.ejes__content
            h4.ejes__name ORGANIZACIONES ESPIRITUALMENTE INTELIGENTES (OEI)
            P.ejes__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, necessitatibus voluptate laudantium similique fugiat id non doloribus itaque fugit officiis esse culpa provident dignissimos ipsum numquam magnam voluptatem deleniti corporis eius blanditiis commodi deserunt eaque amet. Nostrum sed ipsam, possimus hic pariatur dolor adipisci voluptates nemo exercitationem, saepe optio quasi?
      article.ejes__item
        .row
          .col-md-6.col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi5.jpg", alt="Formación Gesi5", class="img-fluid")
          .col-md-6.col-lg-8.col-xl-9.ejes__content
            h4.ejes__name TRANSFORMANDO SISTEMAS
            P.ejes__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, necessitatibus voluptate laudantium similique fugiat id non doloribus itaque fugit officiis esse culpa provident dignissimos ipsum numquam magnam voluptatem deleniti corporis eius blanditiis commodi deserunt eaque amet. Nostrum sed ipsam, possimus hic pariatur dolor adipisci voluptates nemo exercitationem, saepe optio quasi?

      