extends ./partials/layout.pug

block content
  section.fgesi.py-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | PROGRAMA DE FORMACIÓN OEI
      h4.fgesi__subtitle
        | 0RGANIZACIONES ESPIRITUALMENTE INTELIGENTES
      .fgesi__coaching
        h4 Acreditación
        h3 GESI mención edificador de organizaciones espiritualmente inteligentes

      p.fgesi__description
        | Aprende a edificar la nueva visión organizacional innovando espacios, ambientes, estructuras y talentum humano rompiendo los esquemas tradicionales.  La formación se enfoca a nivel personal y organizacional para el manejo efectivo de la energía con la finalidad de elevar las potencialidades humanas, estructurales y ambientales de forma cuántica y sinérgica basados en el contexto de la inteligencia espiritual para transformar positivamente el clima y ambiente organizacional coadyuvando  las necesidades físicas, emocionales, mentales y espirituales de los individuos.

  section.ejes.py-5
    .container
      h2.ejes__title EJES DE FORMACIÓN OEI
      hr      
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi1.jpg", alt="Formación Gesi1", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name ORGANIZACIONES TRANSMODERNAS
            ul.ejes__description              
              li Organizaciones clásicas.
              li Organizaciones Inteligentes del siglo XXI.
              li Organización con concepción espiritual.                 
                
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi2.jpg", alt="Formación Gesi2", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name NUEVA PERSPECTIVA ORGANIZACIONAL
            ul.ejes__description              
              li Organizaciones transcomplejas.
              li Organizaciones transmodernas.
              li Organización transcendental.
              li Filosofía de las organizaciones espiritualmente inteligentes (OEI) : Misión. Visión. Propósitos. Valores.
      article.ejes__item
        .row
          .col-lg-4.col-xl-3.ejes__img
            img(src="./images/formacion_gesi3.jpg", alt="Formación Gesi3", class="img-fluid")
          .col-lg-8.col-xl-9.ejes__content
            h4.ejes__name ARQUETIPO DE OEI MODERNAS
            ul.ejes__description              
              li Decoración inteligente: estilo, ambientación, sonido, color.
              li Gerencia e inteligencia organizacional.
              li Talentum humano de OEI.
              li Engranaje de las técnicas transpersonales e inteligencias espiritual.                           
      