extends ./partials/layout.pug

block content

  section.about.pt-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | NUESTRO EQUIPO
      p.about__description.text-center.w-75.mx-auto.pt-5.pb-3
        | Somos un equipo de profesionales multidisciplinares comprometidos en hacer de la gerencia una experiencia transpersonal.

  section.members        
    article.members__item
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Douglas.png", alt="", class="img-fluid")
            h4.members__name
              | DOUGLAS FARIAS
            span.members__position
              | Fundador
          .col-md-8.col-lg-9.members__description
            p
              | Creador de la formación de gerentes espiritualmente inteligente (GESI). Licenciado en Administración con Postgrado en Gerencia empresarial. Profesor universitario.  Facilitador de cursos, talleres. Charlas y conferencia en el área de la administración y gerencia en Venezuela. Asesor empresarial y gerencial por más de 12  años. Formación de crecimiento humano y espiritual, como: Reiki. Numerología. Árbol de la vida. Mandala  y sistemas de sanación SHOEN y Cristal diamantina. Master en Coaching Neurointegrativo.  
    article.members__item
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Fanny.png", alt="", class="img-fluid")
            h4.members__name
              | MSc. Fanny del Valle Farías
            span.members__position
              | Directora adjunta
          .col-md-8.col-lg-9.members__description
            p
              | Licenciada en Biología con postgrado en Microscopía electrónica aplicada a las ciencias biomédicas. Profesora de biología en Venezuela. Pedagoga. Ha participado en jornadas de neurodesarrollo y educación en valores. Gestora de estrategias y aprendizajes para el desarrollo intelectual, cognitivo, afectivo, personal y espiritual en adolescentes.
    article.members__item
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Candida.png", alt="", class="img-fluid")
            h4.members__name
              | Dra. Cándida Cabello de Pino
            span.members__position
              | Directora Académica
          .col-md-8.col-lg-9.members__description
            p
              | Licenciada en Administración con Especialización en Gerencia. Diplomado en Responsabilidad Social (UNESCO y Universidad de Buenos Aires), Magíster Scientiarum en Ciencias Administrativas. Doctorado en Ciencias Sociales de la Universidad Central de Venezuela. Profesora Titular de UDO Venezuela. Miembro de:  la red nacional de tutores del concurso IDEAS; del Instituto de Gestión para Líderes Universitarios (IGLU) dependiente de la Organización Universitaria Interamericana (OUI) y de la Red internacional MOTIVA. Conferencista. Árbitro externo de la Revista Cayapa y la Revista indexada SABER.
    article.members__item.d-none
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Juan-carlos.png", alt="", class="img-fluid")
            h4.members__name
              | Lcdo. Juan Carlos Galantón
            span.members__position
              | Director Administrativo
          .col-md-8.col-lg-9.members__description
            p
              | Licenciado en administración comercial, con estudios superiores en el área gerencial y planificación en el centro de estudio de la contraloría. Se ha desempeñado como analista de personal, auditor administrativo, jefe de administración y gerente general en  empresas privadas y públicas.
    article.members__item.d-none
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Eduin-Ruiz.png", alt="", class="img-fluid")
            h4.members__name
              | Abog. Eduin Ruiz
            span.members__position
              | Director Legal
          .col-md-8.col-lg-9.members__description
            p
              | Abogado. Cursa estudios de especialización en derecho del trabajo en la Universidad Gran Mariscal de Ayacucho. Ha ejercido cargos en empresas privadas como: asistente de la jefatura legal; jefe del área legal asesor laboral y mercantil para personas naturales y jurídicas.
    article.members__item
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Monica.jpg", alt="", class="img-fluid")
            h4.members__name
              | Lcda. Mónica Zambrano
            span.members__position
              | Coordinadora en Argentina
          .col-md-8.col-lg-9.members__description
            p
              | Licenciada en Administración de Empresas con estudios de postgrado Coaching organizacional y emocional cursando en la UBA Argentina. Especialización en Gerencia de la Empresa en la Universidad Simón Bolívar - Venezuela. Ha desempeñado cargos relacionados con recurso humano en empresas además de la docencia superior en Argentina.
    article.members__item
      .container-fluid
        .row
          .col-md-4.col-lg-3.members__img            
            img(src="./images/fotos/Patricia.jpg", alt="", class="img-fluid")
            h4.members__name
              | Patricia Ponce
            span.members__position
              | Coordinadora en Perú
          .col-md-8.col-lg-9.members__description
            p
              | kinesiólogo, terapéuta holísticas, estudiosa del  Feng shui,  especialista en Reiki Usui tibetano y Reiki unitario Roa. Certificada por el instituto Bert Hellinger y en el  instituto CIGESI y la Universidad UPTOS  Venezuela recibiendo el título de Gerente espiritualmente inteligente (GESI).
