extends ./partials/layout.pug

block content

  section.about.pt-5
    .container
      h2.cigesi-title.cigesi-title--subtitle
        | ¿QUIENES SÓMOS?
      p.about__description.text-center.w-75.mx-auto.pt-5.pb-3
        | Centro internacional para la formación de gerentes espiritualmente inteligentes, continuamos creciendo en Venezuela, Perú y Argentina.

  section.mission.mb-5
    .container-fluid
      .row
        .col-lg-6.py-5.about__text
          h2.about__title.text-center.text-lg-left.w-100 MISIÓN
          p.about__description
            | Prestar servicios educativos de alto nivel humano y espiritual para la formación profesional de Gerentes Espiritualmente Inteligentes (GESI) para edificar al nuevo ser humano con visión trascendental para las Organizaciones Inteligentes del siglo XXI.
        .col-lg-6.about__img
          img(src="./images/mision.jpg", alt="Mision", class="img-fluid")

  section.vision.mb-5
    .container-fluid
      .row
        .col-lg-6.about__img.order-2.order-lg-1
          img(src="./images/vision.jpg", alt="Vision", class="img-fluid")
        .col-lg-6.about__text.order-1.order-lg-2
          h2.about__title.text-center.text-lg-left.w-100 VISIÓN
          p.about__description
            | Posicionarnos a nivel nacional e internacional, en tiempo perfecto, como un centro educativo vanguardista de alto nivel que forme profesionales con los máximos estándares sustentados en los valores trascendentales.

  section.objetives.mb-5
    .container-fluid
      .row
        .col-lg-6.about__text
          h2.about__title.text-center.text-lg-left.w-100 OBJETIVOS
          ul.about__description.about__description--last
            li Formar al gerente espiritualmente inteligente (GESI).
            li Capacitar en técnicas gerenciales occidentales con técnicas orientales.
            li Potenciar el Talentum humano desde una perspectiva transpersonal y multidimensional.
            li Edificar organizaciones espiritualmente inteligentes (OEI).
            li Formar profesionales con alto nivel humano consciente de su entorno como organización.
        .col-lg-6.about__img
          img(src="./images/objetivos.jpg", alt="Objetivos", class="img-fluid")